# PostgreSQL container
POSTGRES_DB=rates
POSTGRES_USER=rates
POSTGRES_PASSWORD=rates_local_password

# RabbitMQ container
RABBITMQ_DEFAULT_USER=rates
RABBITMQ_DEFAULT_PASS=rates_local_password
RABBITMQ_DEFAULT_VHOST=/